@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#main_page {
  text-align: center;
  background-color: #f9f2ec;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#header {
  color: #d2a679;
  font-size: 4.2em;
  font-family: 'Open Sans',serif;
}

.container {
  color: #d2a679;
  background-color: #f9f2ec;
  margin: 1em;
  padding: 0.5em;
}

.form-group {
  margin: 1em;
}

.form-control {
  border-radius: 12px;
}

.btn-primary {
  color:#d2a679;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 1em;
  font-size: 14px;
  font-family: 'Times';
  border-radius: 12px;
}

.form-control {
  text-align: center;
  align: center;
  float: right;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: #d2a679;
  padding: 16px;
  font-size: 15px;
  border: none;
  font-family: 'Times';
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.homebtn {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    background-color: #ffffff;
    color: #d2a679;
    padding: 16px;
    font-size: 15px;
    border: none;
    font-family: 'Times';
    text-decoration: none;
}

.homebtn:hover {
  background-color: #f2e6d9;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  color: #d2a679;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #d2a679;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f2e6d9;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; background-color: #f9f2ec;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f2e6d9;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.slideshow {
  padding-top: 20px;
  background-color: #f9f2ec;
  padding-bottom: 20px;

}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #d2a679;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

